.form-container, .comment-form-container {
    background-color: rgba(244, 250, 244, 1);

    width: 60%;
    margin: 3rem auto;
    text-align: center;
    border-radius: 5px; 
    padding: 1rem;
}

.comment-form-container {
    background-color: rgb(188, 190, 188);

}



.form-header-paragraph {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
}

input {
    height : 3rem;
}
.review-body {
    height: 30rem;
}

.review-comment-body {
    height: 10rem;
    width: 100%;
}

.form-title-container, .comment-form-title-container {
    background-color: rgba(0, 68, 0, 0.3);  
    /* width: 80%; */
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.comment-form-title-container {
    background-color: rgba(0, 2, 90, 0.3);  

}

.final-options {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.final-options-comments {
    padding: 0.4rem;
    margin: 0.2rem;
}

.error-paragraph {
     margin: 0;
    padding: 0;
    left: 50%;
    color: red;
    text-align: center;
}

.add-review-form {
    width: 80%;
    margin: auto;
}

label {
    font-size: 2rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    width: 30%;
}

.label-input-container > input, .add-review-form > select {
    width: 70%;
    padding: 0; 
}



.label-input-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

@media only screen and (max-width: 1000px) {
    .form-container {
        width: 90%;
    }
 }

 @media only screen and (max-width: 710px) {
    .label-input-container {
        flex-direction: column;
    }
    .label-input-container > input, .add-review-form > select {
        width: 100%;
        padding: 0; 
    }
    label {
      
        width: 100%;
    }
 }

