.App {
  text-align: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0, 68, 0, 0.3), rgba(0, 68, 0, 0.4)), url(imgs/header-boardgames.jpg) center repeat;
    /* background-color: rgba(0, 68, 0, 0.3); */



    /* filter: blur(10px); */
}








